
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 98%);
  font-size: 15px;
  margin: 0;
  text-align: center;
}

header {
  margin: 50px auto;
  width: 40%;
}

h1 {
  font-weight: 200;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  font-size: 2em;
}

p {
  font-size: 0.9em;
  font-weight: 200;
    filter: contrast(30%);
}

.box {
  background-color: white;
  display: inline-block;
  margin: 1em;
  position: relative;
  width: 19%;
  padding: 0 20px;
  height: 200px;
  box-shadow: 2px 14px 14px 1px hsl(229, 6%, 66%);
  text-align: left;
  border-radius: 5px;
}

.box img {
  float: right;
}

.supervisor {
  border-top: solid hsl(180, 62%, 55%);
}

.place {
top: 130px;
}

.team-builder {
  border-top: solid hsl(0, 78%, 62%);
}

.karma {
  border-top: solid hsl(34, 97%, 64%);
}

.calculator {
  border-top: solid hsl(212, 86%, 64%);
}

footer {
  margin-top: 60px;
}
